#recipe-video{
    width: 60vw;
    height: 60vh;
    border: 2px outset rgb(252, 247, 247);
}


.ingredient-column{
    margin-right: 2rem;
}

#ingredient-name{
    font-weight: bold;
    list-style:inside square;
    font-size: 1.25rem;
}

#ingredient-measurement{
    list-style: none;
    font-size: 1.25rem;
}

.instruction-step{
    margin-bottom: 1rem;
    font-weight: 500;
}

.favorites-button{
    background-color: transparent;
    border-bottom: 2px solid black;
    border-radius: 0;
    border: 3px outset rgb(235, 241, 255);
    color: rgb(24, 22, 22);
    font-size: 1.5rem;
    height: fit-content;
    margin-top: 1rem;
    outline: 1px solid rgb(0, 0, 0);
    width: fit-content;
}

@media(max-width: 650px){
    
    #ingredient-name,  #ingredient-measurement{
        font-size: 1rem;
    }
}