#category-page {
  padding: 0 2rem;
}

.sub-nav-link {
  color: black;
}

.sub-nav-link.active {
  color: rgb(105, 17, 168);
}


.recipe-card {
  align-items: center;
  background: linear-gradient(#c0c0c0, #a8a6a6);
  border: 2px outset #f7f2f2;
  color: white;
  display: flex;
  font-size: 1.25rem;
  font-weight: bold;
  justify-content: space-around;
  margin: 1rem;
  outline: 1px solid rgb(0, 0, 0);
  padding: 1rem 2rem;
  width: 25vw;
}

.recipe-card:active {
  background: linear-gradient(#979595, #706e6e);
  outline: 1px solid rgb(75, 216, 226);

}

.recipe-thumbnail {
  border-radius: 100%;
  height: 100px;
  width: 100px;
}