/* BASE STYLING*/

#root {
  width: 90vw;
  height: 100%;
  padding-bottom: 2rem;
  margin: 0;
  background-color: #c0c0c0;
}


h1, h2, h3, .title{
  font-family: Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
  margin: 1rem 0;
}
.subtitle{
  font-family: Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.5rem;
  font-style: italic;
}

p{
  font-family: "Old Standard TT", serif;
}

.page{
  padding: 1rem 2rem;
}


/*NAVIGATION - MAIN*/

#main-nav{
  background-color:#000080 ;
  font-family: "Old Standard TT", serif;
  height: fit-content;
}

.nav-item{
  font-size: 1.25rem;
  color: black;
}
a.nav-item:hover{
  color: rgb(0, 183, 255);
}

.nav-container{
  background-color: #c0c0c0;
  border: 2px outset #f5e9e9;
  outline: 1px solid black;
  padding-left: 1rem;
}
.nav-container a.active{
  font-weight: bolder;
  color: rgb(130, 32, 196);
  font-style: oblique;
}

.nav-title{
  color: white;
}


#recipe-search-bar{
  border-radius: 2rem;
  border: 2px inset black;
  width: 25vw;
  padding: 0 1rem;
  margin: 0.25rem 0;
}
#recipe-search-bar:focus{
  outline: none;
  border-color: rgb(75, 216, 226);
}

@media (max-width: 650px) {
  h1, h2, h3, .title{
  font-size: 1.25rem;
  }
}