#root {
  width: 90vw;
  height: 90vh;
  margin: 0;
  padding: 0 2rem;
}


h1, h2, h3, .title{
  font-family: "Chelsea Market", cursive;
  margin: 1rem 0;
}
.subtitle{
  font-size: 1.5rem;
  font-style: italic;
}

p{
  font-family: "Newsreader", sans-serif;
}

.nav-item{
  font-size: 1.25rem;
  color: recipe-search-bar;
}
a.nav-item:hover{
  color: rgb(223, 160, 24);
}

nav a.active{
  font-weight: bold;
  color: rgb(141, 17, 17);
  font-style: oblique;
}

#recipe-search-bar{
  border-radius: 2rem;
  border: 0.3rem solid rgb(141, 111, 72);
  width: 25vw;
  padding: 0.5rem 1rem;
}
#recipe-search-bar:focus{
  outline: none;
  border-color: rgb(223, 160, 24);
}