:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  scrollbar-color: #a7a3a3 rgb(228, 224, 224);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  padding: 1rem;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  background-image: url('./assets/field-5236879_1920_jplenio.jpg');
  color: rgb(24, 22, 22);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: "Old Standard TT", serif;
  background-color: #5a5e64;
  color: white;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  outline: 4px solid rgb(75, 216, 226);
}

button:active{
  background: linear-gradient(#60aad4, #329ad6);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
