

.category-button{
    width: 10rem;
    margin: 0.5rem 1rem;
    background: linear-gradient(rgb(141, 111, 72), rgb(70, 30, 11));
    color: white;
    font-size: 1.1rem;
    border: none;
    filter: drop-shadow(3px 3px rgba(65, 33, 14, 0.527));
}

.category-row{
    margin: 0 1rem;
    display: flex;
    justify-content: center;
    list-style: none;
}