.category-button {
  background: transparent;
  border-radius: 0;
  border: 3px outset rgb(235, 241, 255);
  color: rgb(24, 22, 22);
  display: flex;
  font-size: 1.1rem;
  justify-content: center;
  margin: 0.5rem 1rem;
  max-width: fit-content;
  min-width: 10rem;
  border-bottom: 2px solid black;
  padding: 0.5rem;
}

.category-row {
  margin: 0 1rem;
  display: flex;
  justify-content: center;
  list-style: none;
}

.category-image {
  width: 50px;
  width: 50px;
  margin-left: 0.5rem;
  border-radius: 100%;
}
