

.category-button{
    min-width: 10rem;
    max-width: fit-content;
    margin: 0.5rem 1rem;
    background: linear-gradient(rgb(141, 111, 72), rgb(70, 30, 11));
    color: white;
    font-size: 1.1rem;
    border: none;
    filter: drop-shadow(3px 3px rgba(65, 33, 14, 0.527));
    display: flex;
    justify-content: center;
    padding: 0.5rem;
}

.category-row{
    margin: 0 1rem;
    display: flex;
    justify-content: center;
    list-style: none;
}

.category-image{
    width: 50px;
    width: 50px;
    margin-left: 0.5rem;
    border-radius: 100%;
}